* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    max-width: 1080px;
    width: 95%;
    height: 65%;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.955);
    border-radius: 5%;
}

.reset {
    width: 100%;
    height: 100vh;
    background-image: url('../images/piramid.gif');
    background-repeat: no-repeat;
    background-size: cover;

}

.nurse {
    position: absolute;
    bottom: 0;
    width: 22%;
    right: -300px;
    animation: rabbit-animation 2s infinite linear;
    opacity: 0.7.5;
}

.demon {
    position: absolute;
    top: 5%;
    width: 50%;
    bottom: 45%;
    right: -85px;
    animation: rabbit-animation 20s infinite linear;
    opacity: 0.4;
}

.james {
    width: 47%;
    position: absolute;
    bottom: 0px;
    border-radius: 100%;
    opacity: 0.8;
}

.jump {
    animation: james-up 500ms ease-out;
}

@keyframes rabbit-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes james-up {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 34%;
    }

    50% {
        bottom: 34%;
    }

    60% {
        bottom: 34%;
    }

    65% {
        bottom: 32%;
    }

    72% {
        bottom: 32%;
    }

    73% {
        bottom: 32%;
    }

    74% {
        bottom: 30%;
    }

    75% {
        bottom: 30%;
    }

    80% {
        bottom: 30%;
    }

    85% {
        bottom: 30%;
    }

    90% {
        bottom: 30%;
    }

    99% {
        bottom: 27%;
    }

    100% {
        bottom: 0%;
    }
}

.selo {
    position: absolute;
    width: 20%;
    margin-left: 20%;
    opacity: .3;
    border-radius: 100%;
}

@media only screen and (max-width: 570px) {
    .game-board {
        max-width: 1080px;
        width: 95%;
        height: 40%;
        border-bottom: 1px solid #333;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.955);
        border-radius: 5%;
    }

    .nurse {
        position: absolute;
        bottom: 0;
        width: 33%;
        right: -300px;
        animation: rabbit-animation 15s infinite linear;
        opacity: 0.7.5;
    }

    .demon {
        position: absolute;
        top: 5%;
        width: 40%;
        bottom: 45%;
        right: -85px;
        animation: rabbit-animation 20s infinite linear;
        opacity: 0.4;
    }

    .james {
        width: 65%;
        position: absolute;
        bottom: 0px;
        border-radius: 100%;
        opacity: 0.8;
    }

    .jump {
        animation: james-up 700ms ease-out;
    }

    @keyframes rabbit-animation {
        from {
            right: 0;
        }

        to {
            right: 100%;
        }
    }

    @keyframes james-up {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 34%;
        }

        50% {
            bottom: 34%;
        }

        60% {
            bottom: 34%;
        }

        65% {
            bottom: 32%;
        }

        72% {
            bottom: 32%;
        }

        73% {
            bottom: 32%;
        }

        74% {
            bottom: 30%;
        }

        75% {
            bottom: 30%;
        }

        80% {
            bottom: 30%;
        }

        85% {
            bottom: 30%;
        }

        90% {
            bottom: 27%;
        }

        91% {
            bottom: 20%;
        }

        92% {
            bottom: 15%;
        }

        95% {
            bottom: 9%;
        }
        97% {
            bottom: 3%;
        }
        100% {
            bottom: 0%;
        }
    }

    .selo {
        position: absolute;
        width: 20%;
        margin-left: 20%;
        opacity: .3;
        border-radius: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .game-board {
        max-width: 1080px;
        width: 95%;
        height: 40%;
        border-bottom: 1px solid #333;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.955);
        border-radius: 5%;
    }

    .nurse {
        position: absolute;
        bottom: 0;
        width: 27%;
        right: -300px;
        animation: rabbit-animation 2.5s infinite linear;
        opacity: 0.7.5;
    }

    .demon {
        position: absolute;
        top: 5%;
        width: 40%;
        bottom: 45%;
        right: -85px;
        animation: rabbit-animation 20s infinite linear;
        opacity: 0.4;
    }

    .james {
        width: 55%;
        position: absolute;
        bottom: 0px;
        border-radius: 100%;
        opacity: 0.8;
    }

    .jump {
        animation: james-up 700ms ease-out;
    }

    @keyframes rabbit-animation {
        from {
            right: 0;
        }

        to {
            right: 100%;
        }
    }

    @keyframes james-up {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 34%;
        }

        50% {
            bottom: 34%;
        }

        60% {
            bottom: 34%;
        }

        65% {
            bottom: 32%;
        }

        72% {
            bottom: 32%;
        }

        73% {
            bottom: 32%;
        }

        74% {
            bottom: 30%;
        }

        75% {
            bottom: 30%;
        }

        80% {
            bottom: 30%;
        }

        85% {
            bottom: 30%;
        }

        90% {
            bottom: 27%;
        }

        91% {
            bottom: 27%;
        }

        92% {
            bottom: 25%;
        }

        99% {
            bottom: 20%;
        }

        100% {
            bottom: 0%;
        }
    }

    .selo {
        position: absolute;
        width: 20%;
        margin-left: 20%;
        opacity: .3;
        border-radius: 100%;
    }
}